paper/paper.pdf
paper/paper.log
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.synctex.gz
paper/paper.dvi
paper/paper.ps
paper/algorithm2e.sty
paper/*.aux

lazy-scheme/benchmarks/anf_prog.txt
lazy-scheme/benchmarks/gc_addr.txt
lazy-scheme/benchmarks/output/
lazy-scheme/gc_addr.txt
lazy-scheme/src/*.o
lazy-scheme/src/*.out
lazy-scheme/src/*.eps
lazy-scheme/src/gc_addr.txt
lazy-scheme/src/make.log
lazy-scheme/src/lexer.cpp
lazy-scheme/src/parser.cpp
lazy-scheme/src/Simulator_Stats
lazy-scheme/src/location.hh
lazy-scheme/src/*.log
lazy-scheme/src/plain.txt
lazy-scheme/src/position.hh
lazy-scheme/src/scheme.output
lazy-scheme/src/scheme.tab.h
lazy-scheme/src/stack.hh
lazy-scheme/src/TAGS
lazy-scheme/src/cscope.out
lazy-scheme/src/cscope.tmplst
lazy-scheme/src/tags
lazy-scheme/post_process/process_fast
lazy-scheme/post_process/process
lazy-scheme/src/Simulator
lazy-scheme/src/__depends.bak
lazy-scheme/src/test_assert.scm
lazy-scheme/src/test_list.scm
lazy-scheme/src/__depends
lazy-scheme/src/run.gnu
paper/example-automata-eps-converted-to.pdf
lazy-scheme/benchmarks/programs/fibheap/results/
lazy-scheme/benchmarks/programs/gc_bench/results/
lazy-scheme/benchmarks/programs/knightstour/results/
lazy-scheme/benchmarks/programs/lambda/results/
lazy-scheme/benchmarks/programs/lcss/results/
lazy-scheme/benchmarks/programs/nperm/results/
lazy-scheme/benchmarks/programs/nqueens/results/
lazy-scheme/benchmarks/programs/sudoku/results/
lazy-scheme/benchmarks/programs/treejoin/results/
lazy-scheme/src/output/anf_prog.txt
lazy-scheme/src/output/fft/
lazy-scheme/src/output/fft_gc-freq_output/
lazy-scheme/src/output/fft_gc-live_output/
lazy-scheme/src/output/fibheap/
lazy-scheme/src/output/fibheap_gc-freq_output/
lazy-scheme/src/output/fibheap_gc-live_output/
lazy-scheme/src/output/fibheap_gc-plain_output/
lazy-scheme/src/output/freq.txt
lazy-scheme/src/output/huffman/
lazy-scheme/src/output/huffman_gc-freq_output/
lazy-scheme/src/output/huffman_gc-live_output/
lazy-scheme/src/output/huffman_gc-plain_output/
lazy-scheme/src/output/knightstour_gc-freq_output/
lazy-scheme/src/output/knightstour_gc-live_output/
lazy-scheme/src/output/knightstour_gc-plain_output/
lazy-scheme/src/output/lambda/
lazy-scheme/src/output/lambda_gc-freq_output/
lazy-scheme/src/output/lambda_gc-live_output/
lazy-scheme/src/output/lambda_gc-plain_output/
lazy-scheme/src/output/lcss/
lazy-scheme/src/output/lcss_gc-freq_output/
lazy-scheme/src/output/lcss_gc-live_output/
lazy-scheme/src/output/lcss_gc-plain_output/
lazy-scheme/src/output/live.txt
lazy-scheme/src/output/nperm/
lazy-scheme/src/output/nperm_gc-freq_output/
lazy-scheme/src/output/nperm_gc-live_output/
lazy-scheme/src/output/nperm_gc-plain_output/
lazy-scheme/src/output/nqueens/
lazy-scheme/src/output/nqueens_gc-freq_output/
lazy-scheme/src/output/nqueens_gc-live_output/
lazy-scheme/src/output/nqueens_gc-plain_output/
lazy-scheme/src/output/plain.txt
lazy-scheme/src/output/sudoku/
lazy-scheme/src/output/sudoku_gc-freq_output/
lazy-scheme/src/output/sudoku_gc-live_output/
lazy-scheme/src/output/sudoku_gc-plain_output/
lazy-scheme/src/output/treejoin/
lazy-scheme/src/output/treejoin_gc-freq_output/
lazy-scheme/src/output/treejoin_gc-live_output/
lazy-scheme/src/output/treejoin_gc-plain_output/
