paper/*.pdf
paper/paper.log
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.synctex.gz
paper/paper.dvi
paper/paper.ps
paper/algorithm2e.sty
paper/*.aux
lazy-scheme/benchmarks/anf_prog.txt
lazy-scheme/benchmarks/gc_addr.txt
lazy-scheme/benchmarks/output/
lazy-scheme/gc_addr.txt
lazy-scheme/src/*.o
lazy-scheme/src/*.out
lazy-scheme/src/*.eps
lazy-scheme/src/gc_addr.txt
lazy-scheme/src/make.log
lazy-scheme/src/lexer.cpp
lazy-scheme/src/parser.cpp
lazy-scheme/src/Simulator_Stats
lazy-scheme/src/location.hh
lazy-scheme/src/*.log
lazy-scheme/src/plain.txt
lazy-scheme/src/position.hh
lazy-scheme/src/scheme.output
lazy-scheme/src/scheme.tab.h
lazy-scheme/src/stack.hh
lazy-scheme/src/TAGS
lazy-scheme/src/cscope.out
lazy-scheme/src/cscope.tmplst
lazy-scheme/src/tags
lazy-scheme/post_process/process_fast
lazy-scheme/post_process/process
lazy-scheme/src/Simulator
lazy-scheme/src/__depends.bak
lazy-scheme/src/test_assert.scm
lazy-scheme/src/test_list.scm
lazy-scheme/src/__depends
lazy-scheme/src/run.gnu
paper/example-automata-eps-converted-to.pdf
lazy-scheme/benchmarks/programs/fibheap/results/
lazy-scheme/benchmarks/programs/gc_bench/results/
lazy-scheme/benchmarks/programs/knightstour/results/
lazy-scheme/benchmarks/programs/lambda/results/
lazy-scheme/benchmarks/programs/lcss/results/
lazy-scheme/benchmarks/programs/nperm/results/
lazy-scheme/benchmarks/programs/nqueens/results/
lazy-scheme/benchmarks/programs/sudoku/results/
lazy-scheme/benchmarks/programs/treejoin/results/
lazy-scheme/benchmarks/programs/deriv/results/
lazy-scheme/benchmarks/programs/huffman/results/
lazy-scheme/benchmarks/programs/paraffins/results/
lazy-scheme/src/output/anf_prog.txt
lazy-scheme/src/output/fft/
lazy-scheme/src/output/fft_gc-freq_output/
lazy-scheme/src/output/fft_gc-live_output/
lazy-scheme/src/output/fibheap/
lazy-scheme/src/output/fibheap_gc-freq_output/
lazy-scheme/src/output/fibheap_gc-live_output/
lazy-scheme/src/output/fibheap_gc-plain_output/
lazy-scheme/src/output/freq.txt
lazy-scheme/src/output/huffman/
lazy-scheme/src/output/huffman_gc-freq_output/
lazy-scheme/src/output/huffman_gc-live_output/
lazy-scheme/src/output/huffman_gc-plain_output/
lazy-scheme/src/output/knightstour_gc-freq_output/
lazy-scheme/src/output/knightstour_gc-live_output/
lazy-scheme/src/output/knightstour_gc-plain_output/
lazy-scheme/src/output/lambda/
lazy-scheme/src/output/lambda_gc-freq_output/
lazy-scheme/src/output/lambda_gc-live_output/
lazy-scheme/src/output/lambda_gc-plain_output/
lazy-scheme/src/output/lcss/
lazy-scheme/src/output/lcss_gc-freq_output/
lazy-scheme/src/output/lcss_gc-live_output/
lazy-scheme/src/output/lcss_gc-plain_output/
lazy-scheme/src/output/live.txt
lazy-scheme/src/output/nperm/
lazy-scheme/src/output/nperm_gc-freq_output/
lazy-scheme/src/output/nperm_gc-live_output/
lazy-scheme/src/output/nperm_gc-plain_output/
lazy-scheme/src/output/nqueens/
lazy-scheme/src/output/nqueens_gc-freq_output/
lazy-scheme/src/output/nqueens_gc-live_output/
lazy-scheme/src/output/nqueens_gc-plain_output/
lazy-scheme/src/output/plain.txt
lazy-scheme/src/output/sudoku/
lazy-scheme/src/output/sudoku_gc-freq_output/
lazy-scheme/src/output/sudoku_gc-live_output/
lazy-scheme/src/output/sudoku_gc-plain_output/
lazy-scheme/src/output/treejoin/
lazy-scheme/src/output/treejoin_gc-freq_output/
lazy-scheme/src/output/treejoin_gc-live_output/
lazy-scheme/src/output/treejoin_gc-plain_output/
lazy-scheme/src/output/treejoin/
lazy-scheme/src/output/treejoin_gc-freq_output/
lazy-scheme/src/output/treejoin_gc-live_output/
lazy-scheme/src/output/treejoin_gc-plain_output/
lazy-scheme/src/output/run.out.*
lazy-scheme/src/run.out.*
lazy-scheme/unittests/*.rkt
lazy-scheme/unittests/*.acfg
lazy-scheme/unittests/*.cfg
lazy-scheme/unittests/*.json
lazy-scheme/unittests/*.nfa
lazy-scheme/unittests/*.rkt.scm
lazy-scheme/unittests/*.slice.json
lazy-scheme/unittests/*.slice.scm
lazy-scheme/unittests/*.slice.txt
lazy-scheme/unittests/*.rkt.txt
lazy-scheme/benchmarks/*/*/*.rkt
lazy-scheme/benchmarks/*/*/*.acfg
lazy-scheme/benchmarks/*/*/*.cfg
lazy-scheme/benchmarks/*/*/*.json
lazy-scheme/benchmarks/*/*/*.nfa
lazy-scheme/benchmarks/*/*/*.rkt.scm
lazy-scheme/benchmarks/*/*/*.slice.json
lazy-scheme/benchmarks/*/*/*.slice.scm
lazy-scheme/benchmarks/*/*/*.slice.txt
lazy-scheme/benchmarks/*/*/*.rkt.txt
talks/*/*.aux
talks/*/*.dvi
talks/*/*.log
talks/*/*.nav
talks/*/*.out
talks/*/*.pdf
talks/*/*.ps
talks/*/*.snm
talks/*/*.toc
paper-for-archive/*.aux
paper-for-archive/*.backup
paper-for-archive/*.pdf
paper-for-archive/*.log
paper-for-archive/epsfiles/*
paper/comments
paper/paper.mod.tex~
paper/proof.dvi
paper/proof.log
paper/proof.ps
paper/summary.txt
paper/summary.txt~
paper_wo_proof/
tail.pdf
lazy-scheme/unittests/0aryFunction.scm~
lazy-scheme/unittests/example-prog/
lazy-scheme/unittests/loop.rkt~
lazy-scheme/unittests/loop.scm
lazy-scheme/unittests/varOnSingleBranch.scm~
lazy-scheme/unittests/vector.rkt~
lazy-scheme/unittests/vector.scm
lazy-scheme/benchmarks/programs/barneshut/
lazy-scheme/benchmarks/programs/deriv.sch
lazy-scheme/benchmarks/programs/deriv/deriv.rkt~
lazy-scheme/benchmarks/programs/fft/fft.rkt~
lazy-scheme/benchmarks/programs/huffman/huffman
lazy-scheme/benchmarks/programs/huffman/huffman.rkt.scm~
lazy-scheme/benchmarks/programs/huffman/huffman.rkt~
lazy-scheme/benchmarks/programs/huffman/huffman.scm.bak
lazy-scheme/benchmarks/programs/huffman/huffman.scm~
lazy-scheme/benchmarks/programs/lcss/lcss.rkt~
lazy-scheme/benchmarks/programs/lcss/lcss_pre.scm~
lazy-scheme/benchmarks/programs/nfa.sch
lazy-scheme/benchmarks/programs/nfa/
lazy-scheme/benchmarks/programs/paraffins.rkt
lazy-scheme/benchmarks/programs/paraffins.rkt~
lazy-scheme/benchmarks/programs/paraffins.sch
lazy-scheme/benchmarks/programs/paraffins/#paraffins.rkt#
lazy-scheme/benchmarks/programs/paraffins/paraffins.rkt.scm~
lazy-scheme/benchmarks/programs/paraffins/paraffins.rkt~
lazy-scheme/benchmarks/programs/paraffins/paraffins.scm~
lazy-scheme/benchmarks/programs/peval.sch
lazy-scheme/benchmarks/programs/sboyer.sch
lazy-scheme/benchmarks/programs/sudoku/sudoku.rkt~
lazy-scheme/benchmarks/programs/sudoku/sudoku.scm.bak
lazy-scheme/benchmarks/programs/sudoku/sudoku.scm~
lazy-scheme/benchmarks/programs/sudoku/sudoku_pre.scm~
lazy-scheme/benchmarks/programs/takl.sch
lazy-scheme/benchmarks/programs/takl/takl.rkt~
lazy-scheme/benchmarks/programs/takr.rkt
lazy-scheme/benchmarks/programs/takr.rkt~
lazy-scheme/benchmarks/programs/takr.sch
lazy-scheme/benchmarks/programs/traverse.sch
lazy-scheme/benchmarks/programs/triangle.sch
lazy-scheme/src/#mail-results.py#
lazy-scheme/src/.cproject
lazy-scheme/src/.gitignore
lazy-scheme/src/.project
lazy-scheme/src/.settings/
lazy-scheme/src/2015-11-29/
lazy-scheme/src/index.html
lazy-scheme/src/mail-results.py
lazy-scheme/src/min-memory-plain
lazy-scheme/src/output.GOLD
lazy-scheme/src/output/GC_STATS.txt
lazy-scheme/src/output/deriv/
lazy-scheme/src/output/example.rkt.scm/
lazy-scheme/src/output/example/
lazy-scheme/src/output/garbage-dump.txt
lazy-scheme/src/output/gc_bench/
lazy-scheme/src/output/lcss-backup/
lazy-scheme/src/output/loop/
lazy-scheme/src/output/paraffins/
lazy-scheme/src/output/takl/
lazy-scheme/src/output/test/
lazy-scheme/src/output/vector/
